@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuario</h2>

@section scripts{
    <script>
        var $usuarioCookie = 'UsuarioID'
        var $roleCookie = 'Role';
        if ($.cookie($usuarioCookie) == undefined ||
                    $.cookie($usuarioCookie) == 0 ||
                    $.cookie($usuarioCookie) == '') {
            location = '../Home/Index';
        }
        if ($.cookie("Role") == 'client' || $.cookie("Role") == undefined) {
            $('.adminControl').remove();
        }
        $('#LoadingBar').hide(0);
        var uri = 'http://localhost:63488/api/UsuarioApi';

        $(document).ready(function () {
            $('.modal-trigger').leanModal();
            var contenido = '';
            $('#LoadingBar').show(0);
            $.getJSON(uri).done(function (data) {
                $.each(data, function (key, item) {
                    contadorP = 0;
                    contadorC = 0;
                    contadorR = 0;
                    $.each(item.Preguntas, function (keyP, itemP) {
                        contadorP += 1;
                    });
                    $.each(item.Comentarios, function (keyp, itemC) {
                        contadorC += 1;
                    });
                    $.each(item.Respuestas, function (keyR, itemR) {
                        contadorR += 1;
                    });
                    contenido += '<div class="col s12 m4" style="padding-left: 5px; padding-right: 5px;"><div class="card blue-grey darken-1">' +
                        '<div class="card-content white-text" style="height: 172px;"><span class="card-title">' + item.Nombre + ' ' + item.Apellido + '</span><p>' +
                        item.Email + '</p><p>Preguntas: <span class="new badge">' + contadorP + '</span></p><p>Comentarios: <span class="new badge">' + contadorC + '</span></p><p>Respuestas: <span class="new badge">' + contadorR + '</span></p></div>' +
                        '<div class="card-action"><a onclick="btnExplorar(' + item.ID + ')" href="#">Explorar</a>' +
                        '<a onclick="eliminar(' + item.ID + ')" class="adminControl tooltipped right-align waves-effect waves-circle waves-light btn-floating secondary-content transparent" data-position="right" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">delete</i></a>' +
                        '<a onclick="editar(' + item.ID + ')" class="adminControl tooltipped right-align waves-effect waves-circle waves-light btn-floating secondary-content transparent" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">mode_edit</i></a>' +
                        '<div class="chip">' + item.Role + '</div></div></div></div>';
                });
                $('#catalogoUsuario').append(contenido);
                $('#LoadingBar').hide(0);
                if ($.cookie("Role") == 'client' || $.cookie("Role") == undefined) {
                    $('.adminControl').remove();
                }
                $('.tooltipped').tooltip({ delay: 50 });
            });

            $('#btnGuardar').click(function () {
                var $nombre = $('#txtNombre').val();
                var $apellido = $('#txtApellido').val();
                var $email = $('#txtEmail').val();
                var $contrasena = $('#txtContrasena').val();
                var $role;
                if ($('#chbRole').is(':checked')) {
                    $role = 'admin';
                } else {
                    $role = 'client';
                }

                $.ajax({
                    url: uri,
                    type: 'POST',
                    data: { Nombre: $nombre, Apellido: $apellido, Email: $email, Contrasena: $contrasena, Role: $role },
                    dataType: 'json',
                    error: function () {
                        Materialize.toast('Error al agregar usuario', 3000, 'rounded')
                    },
                    success: function () {
                        Materialize.toast('Usuario agregada', 3000, 'rounded')
                        actualizarUsuarios();
                        $('#txtNombre').val('');
                        $('#txtContrasena').val('');
                        $('#txtApellido').val('');
                        $('#txtEmail').val('');
                    }
                });
            });
        });

        function actualizarUsuarios() {
            $('#catalogoUsuario div').remove();
            contenido = '';
            $('#LoadingBar').show(0);
            $.getJSON(uri).done(function (data) {
                $.each(data, function (key, item) {
                    contadorP = 0;
                    contadorC = 0;
                    contadorR = 0;
                    $.each(item.Preguntas, function (keyP, itemP) {
                        contadorP += 1;
                    });
                    $.each(item.Comentarios, function (keyp, itemC) {
                        contadorC += 1;
                    });
                    $.each(item.Respuestas, function (keyR, itemR) {
                        contadorR += 1;
                    });
                    contenido += '<div class="col s12 m4" style="padding-left: 5px; padding-right: 5px;"><div class="card blue-grey darken-1">' +
                        '<div class="card-content white-text" style="height: 172px;"><span class="card-title">' + item.Nombre + ' ' + item.Apellido + '</span><p>' +
                        item.Email + '</p><p>Preguntas: <span class="new badge">' + contadorP + '</span></p><p>Comentarios: <span class="new badge">' + contadorC + '</span></p><p>Respuestas: <span class="new badge">' + contadorR + '</span></p></div>' +
                        '<div class="card-action"><a onclick="btnExplorar(' + item.ID + ')" href="#">Explorar</a>' +
                        '<a onclick="eliminar(' + item.ID + ')" class="adminControl tooltipped right-align waves-effect waves-circle waves-light btn-floating secondary-content transparent" data-position="right" data-delay="50" data-tooltip="Eliminar"><i class="material-icons">delete</i></a>' +
                        '<a onclick="editar(' + item.ID + ')" class="adminControl tooltipped right-align waves-effect waves-circle waves-light btn-floating secondary-content transparent" data-position="left" data-delay="50" data-tooltip="Modificar"><i class="material-icons">mode_edit</i></a>' +
                        '<div class="chip">' + item.Role + '</div></div></div></div>';
                });
                $('#catalogoUsuario').append(contenido);
                $('#LoadingBar').hide(0);
                if ($.cookie("Role") == 'client' || $.cookie("Role") == undefined) {
                    $('.adminControl').remove();
                }
                $('.tooltipped').tooltip({ delay: 50 });
            });
        }

        function eliminar(id) {
            $('#delModal').openModal();
            $('#btnEliminar').click(function () {
                $.ajax({
                    url: uri + '/' + id,
                    type: 'DELETE',
                    error: function () {
                        Materialize.toast('Error al eliminar usuario', 3000, 'rounded')
                    },
                    success: function () {
                        actualizarUsuarios();
                        $('#delModal').closeModal();
                        Materialize.toast('Usuario eliminada', 3000, 'rounded')
                    }
                });
            });
        }

        function editar(id) {
            var pass = '';
            $.getJSON(uri + '/' + id)
            .done(function (data) {
                pass = data.Contrasena;
                $("#txtNombreEd").val(data.Nombre);
                $('#txtContrasenaEd').val('');
                $('#txtApellidoEd').val(data.Apellido);
                $('#txtEmailEd').val(data.Email);
                if (data.Role == 'admin') {
                    $('#chbRoleEd').prop('checked', true);
                } else {
                    $('#chbRoleEd').prop('checked', false);
                }
                $('#editModal').openModal();
            });

            $("#btnGuardarEd").click(function () {
                var roleEd = '';
                if ($('#chbRoleEd').is(':checked')) {
                    roleEd = 'admin';
                } else {
                    roleEd = 'client';
                }
                $.ajax({
                    url: uri + '/' + id,
                    type: 'PUT',
                    data: { ID: id, Nombre: $("#txtNombreEd").val(), Apellido: $("#txtApellidoEd").val(), Email: $('#txtEmailEd').val(), Contrasena: pass, Role: roleEd },
                    success: function (response) {
                        actualizarUsuarios();
                        $('#editModal').closeModal();
                        Materialize.toast('Usuario modificado', 3000, 'rounded');
                    },
                    error: function () {
                        Materialize.toast('Error al modificar usuario', 3000, 'rounded');
                    }
                });
            });
        }

        function btnExplorar(idstr) {
            $('#catalogoPreguntas li').remove();
            var contenido = '';
            var comentarios = '';
            $.getJSON(uri + '/' + idstr).done(function (data) {
                $('#modalHeader h4').remove();
                $('#modalHeader').append('<h4>' + data.Nombre + '</h4>');
                $.each(data.Preguntas, function (key, item) {
                    comentarios = '';
                    $.each(item.Comentarios, function (keyc, itemc) {
                        comentarios += '<li>' + itemc.ComentarioHecho + '</li>'
                    });
                    contenido += '<li><div class="collapsible-header"><i class="material-icons">help_outline</i>' + item.Interrogante + '</div><div class="collapsible-body"><ul>' + comentarios + '</ul></div></li>';
                });
                $('#catalogoPreguntas').append(contenido);
                $('.collapsible').collapsible({
                    accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                });
            });
            $('#preguntasModal').openModal();
        }
    </script>
}


<div class="fixed-action-btn adminControl" style="bottom: 45px; right: 45px;">
    <a id="btnAdd" class="modal-trigger waves-effect waves-light btn-large red btn-floating" href="#newModal">
        <i class="large material-icons">add</i>
    </a>
</div>

<div id="LoadingBar" class="progress">
    <div class="indeterminate"></div>
</div>

<div class="row" id="catalogoUsuario">
</div>

<!-- Modal Delete Usuario-->
<div id="delModal" class="adminControl modal modal-fixed-footer" style="height: 300px;">
    <div class=" modal-content" style="padding: 5px">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/images/imageTitle.jpg" class="imageFill">
                <span class="card-title">Eliminar Usuario</span>
            </div>
            <div class="card-content">

                <div class="modal-body">
                    <p>Esta seguro de eliminar este Usuario?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="btnEliminar">Eliminar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal new Usuario -->
<div id="newModal" class="adminControl modal modal-fixed-footer" style="height: 1100px;">
    <div class=" modal-content" style="padding: 5px">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/images/imageTitle.jpg" class="imageFill">
                <span class="card-title">Nuevo usuario</span>
            </div>
            <div class="card-content">

                <div class="modal-body">
                    <form>
                        <input type="checkbox" class="filled-in" id="chbRole" />
                        <label for="chbRole">Otorgar permisos de admin</label>
                    </form>
                    <div class="input-field">
                        <input type="text" id="txtNombre">
                        <label for="txtNombre">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="txtApellido">
                        <label for="txtApellido">Apellido</label>
                    </div>
                    <div class="input-field">
                        <input type="email" class="validate" id="txtEmail">
                        <label for="txtEmail">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="txtContrasena">
                        <label for="txtContrasena">Contraseña</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="btnGuardar">Guardar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal Edit Usuario -->
<div id="editModal" class="adminControl modal modal-fixed-footer" style="height: 1100px;">
    <div class=" modal-content" style="padding: 5px">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/images/imageTitle.jpg" class="imageFill">
                <span class="card-title">Editar Usuario</span>
            </div>
            <div class="card-content">

                <div class="modal-body">
                    <p>
                        <input type="checkbox" class="filled-in" id="chbRoleEd" />
                        <label for="chbRoleEd">Otorgar permisos de admin</label>
                    </p>
                    <div class="input-field">
                        <input type="text" id="txtNombreEd" value=" ">
                        <label for="txtNombreEd" class="active">Nombre</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="txtApellidoEd" value=" ">
                        <label for="txtApellidoEd" class="active">Apellido</label>
                    </div>
                    <div class="input-field">
                        <input type="email" class="validate" id="txtEmailEd" value="email">
                        <label for="txtEmailEd" class="active">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="txtContrasenaEd" value=" ">
                        <label for="txtContrasenaEd" class="active">Contraseña</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="btnGuardarEd">Guardar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="preguntasModal" class="modal">
    <div class="modal-content">
        <h4 id="modalHeader">Preguntas Categoria: </h4>
        <ul class="collapsible popout" data-collapsible="accordion" id="catalogoPreguntas"></ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>